/* Arrière-plan inspiré de Candy Crush */
body {
  background: linear-gradient(135deg, #ffb6c1, #ff69b4);
  font-family: 'Comic Sans MS', sans-serif;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Styles généraux pour les boutons */
button, .btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button:hover, .btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
}

/* Spécifiques aux boutons */
.login {
  background: linear-gradient(135deg, #FFA500, #FF4500);
}

.signup {
  background: linear-gradient(135deg, #32CD32, #00FA9A);
}

button, .btn {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* Style pour l'en-tête */
header {
  background: #FF69B4;
  color: white;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Navigation */
nav {
  margin-top: 15px;
}

nav a {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #fff;
  color: #ff69b4;
  border-radius: 30px;
  font-size: 1rem;
  margin: 0 10px;
  transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
  background-color: #ff1493;
  color: white;
  transform: translateY(-5px);
}

/* Contenu des formulaires */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

form input {
  padding: 15px;
  width: 80%;
  max-width: 400px;
  border: 2px solid #ff69b4;
  border-radius: 30px;
  font-size: 1.2rem;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

form input:focus {
  border-color: #ff1493;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
}

/* Bouton pour le formulaire */
form button {
  background: linear-gradient(135deg, #ff1493, #ff69b4);
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

form button:hover {
  background: linear-gradient(135deg, #ff69b4, #ff1493);
  transform: translateY(-5px);
}
